<div class="container">
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
        <td>Category</td>
        <td>Vendor ID</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td id="tData">{{ product.id }}</td>
        <td id="tData">{{ product.name }}</td>
        <td id="tData">{{ product.price }}</td>
        <td id="tData">{{ product.category.name }}</td>
        <td id="tData">{{ product.vendor.id }}</td>
      </tr>
    </tbody>
  </table>

  <div class="controls">
    <p
      style="
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
        font-size: 30px;
        font-weight: 400;
      "
    >
      Controls
    </p>
    <button routerLink="add">Add Product</button>
    <button>Search By ID</button>
    <button>Search By Vendor</button>
    <button>Search By Category</button>
    <button>Set Price Filter</button>
    <button>Delete Product By Name</button>
    <button>Delete Product By ID</button>
  </div>
</div>
