div.container {
    height: 800px;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;
    top: 80px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

table {
    position: relative;
    top: -140px;
    background-color: white;
    border: 1px solid;
    border-collapse: collapse;
    width: 38%;
}

#tData {
    border: 1px solid;
    border-collapse: collapse;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

thead {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

button{
    width: max-content;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; font-weight: 400;
    padding: 10px;
    background-color: rgb(58, 126, 58); color: white;
    border: none; border-radius: 5px;
    margin-bottom: 10px;
}

div.controls{
    position: relative;
    top: -60px;
    width: max-content;
    height: max-content;
    padding: 15px;
    border: none; border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}

div.modal{
    z-index: 100;
    background-color: rgba(178, 178, 178, 0.625);
    width: 100%; height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    display: flex;
    justify-content: center; align-items: center;
}

div.window{
    width: 30%;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border: none; border-radius: 5px;
    justify-content: center;
}
label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px; font-weight: 400;
    margin-bottom: 10px;
}
input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; font-weight: 300;
    width: 70%;
    height: 30px;
    padding: 7px;
    margin-bottom: 10px;
}

option, select{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; font-weight: 300;
    width: 70%; height: 40px;
    border-radius: 5px; border: 0.5px solid;
    margin-bottom: 10px;
    padding: 5px;
}

