
<router-outlet></router-outlet>

<!--NAVBAR OF APP-->
<div class="navbar">

  <!--TITLE OF APP-->
  <div class="title">
    <p>Product-App</p>
  </div>

  <div class="nav-items">
    <!-- NAVIGATE TO PRODUCTS-->
    <ul>
      <li>
        <a style="text-decoration-line: none; color: black;" routerLink="products">Products</a>
      </li>
    </ul>

    <!-- NAVIGATE TO CATEGORIES-->
    <ul>
      <li>
        <a style="text-decoration-line: none; color: black;" routerLink="categories">Categories</a>
      </li>
    </ul>


      <!-- NAVIGATE TO VENDORS-->
    <ul>
      <li>
        <a style="text-decoration-line: none; color: black;" routerLink="vendors">Vendors</a>
      </li>
    </ul>

  </div>

</div>

