<div class="container">

  <form [formGroup]="productData" (ngSubmit)="saveProduct()">

    <label for="prodName">Product Name</label>
    <input
      type="text"
      placeholder="Enter Product Name..."
      name="prodName"
      formControlName="name"
    />

    <label for="prodPrice">Price</label>
    <input
      type="number"
      placeholder="Enter Product Price..."
      name="prodName"
      formControlName="price"
    />

    <label for="prodName">Vendor:</label>

    <select [(ngModel)]="vendors" formControlName="vendor_id" >
      <option *ngFor="let vendor of vendors" [value]="vendor.id" >{{vendor.id}}</option>
    </select>

    <label for="catName">Category:</label>
    <select name="catName">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
    </select>


    <button type="submit">Add Product</button>
    
  </form>

</div>